<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- goggle font family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <!-- goggle font family ends-->
    <!-- stylesheet below-->
    <link rel="stylesheet" href="css/main.css">
    <!-- style sheet ends here -->
    <title>Mini App</title>
</head>
<!-- header section-->
<h1 class="hidden"></h1>
<header class="navBar">
    <img class="navimg" src="images/header.svg" alt="header">
</header>
<!-- header ends here-->

<body>
    <section class="hero">
        <img class="heroimage" src="images/hero_image2.jpg" alt="hero-img">
        <h2 class="heroh2"> See What all the Fun's About</h2>
    </section>
    <!-- components section down below-->
    <main id="app">




        <article class="miniinfo">
            <h2 class="minitext"> Find Your Mini</h2>
            <h3 class="subline">Discover more about the beast by clicking on them.</h3>

            <nav id="mini-nav">
                <ul class="miniNav">
                    <minidisplay @openlb="loadLightBox" v-for="car in carData" :car="car"></minidisplay>
                </ul>
            </nav>
            <h3 class="subline">Scroll Below And Check More.</h3>

        </article>
        <Lightbox @closelb="this.showLightBox = false" v-if="showLightBox" :car=" lightboxData">
        </Lightbox>
    </main>
    <!-- video body here-->
    <video class="video1" controls muted>
        <source src="video/mini_adv.mp4" type="video/mp4">
      </video>
    <!-- footer-->
    <footer class="footer">
        <img class="imgf" src="images/footer.svg" alt="footer">
        </header>

</body>
<!-- script area-->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/main.js" type="module" defer></script>

</html>