body {
    display: grid;
    margin: 0px;
    background-color: #11215f;
    font-family: 'Space Grotesk', sans-serif;
}

.hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

.heroh2 {
    margin: 05px;
    color: #11215f;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    line-height: 52px;
    font-weight: 700;
}

// .mini_cars {
//     display: grid;
//     justify-content: center;
//     grid-template-columns: repeat(3, 5fr);
// }
.mini_image {
    width: 80%;
    height: auto;
}

.miniNav {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-between;
    align-items: center;
    text-align: center
}

.miniinfo {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: white;
    line-height: 50px;
    margin-bottom: 20px;
}

.subline {
    font-size: 30px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.miniNav img:hover {
    outline: 2px solid rgb(254, 251, 251);
    cursor: pointer;
}